.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:not(:last-child) {
    margin-right: 4.8rem;
  }

  img {
    width: 1.6rem;
    height: 1.6rem;
  }

  &:hover &__menu {
    display: block;
  }

  &__menu {
    list-style: none;
    width: 34.3rem;
    position: absolute;
    top: 4rem;
    right: -1.2rem;
    z-index: 2;
    background-color: hsla(0, 0%, 98%, 1);
    box-shadow: 1.6rem 2.4rem 7.2rem 0px hsla(0, 0%, 77%, 0.15);
    padding: 1.6rem;
    border-radius: 0.8rem;
    display: none;
  }

  &__menu-item {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    padding: 1.6rem;
    border-radius: 0.8rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    width: 100%;

    span {
      font-size: var(--fs-400);
      font-weight: var(--fw-500);
      margin-left: 0.8rem;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    line-height: 22px;
    letter-spacing: -0.5px;
    margin-right: 1.2rem;
    color: var(--clr-blk-500);

    &:hover {
      color: var(--clr-primary-500);
    }
  }
}
