.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  @include respond(tablet-port) {
    width: 100%;
    justify-content: center;
  }

  &:not(:last-child) {
    margin-right: 4.8rem;

    @include respond(tablet-port) {
      margin-right: 0;
      margin-bottom: 2.4rem;
    }
  }

  img {
    width: 1.6rem;
    height: 1.6rem;
  }

  &__avatar:first-child {
    width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
    border-radius: 100px;
  }

  &:hover &__menu {
    display: block;
  }

  &__menu {
    list-style: none;
    width: 34.3rem;
    position: absolute;
    top: 2.4rem;
    right: -1.2rem;
    z-index: 2;
    background-color: hsla(0, 0%, 98%, 1);
    box-shadow: 1.6rem 2.4rem 7.2rem 0px hsla(0, 0%, 77%, 0.15);
    padding: 1.6rem;
    border-radius: 0.8rem;
    display: none;

    @include respond(tablet-port) {
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__menu-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1.6rem;
    color: var(--clr-white);
    background: hsla(0, 100%, 62%, 1);
  }

  &__menu-item {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    padding: 1.6rem;
    border-radius: 0.8rem;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }

    // &:hover {

    // }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    width: 100%;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__link,
  &__menu-link,
  &__link:link,
  &__link:visited {
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    line-height: 22px;
    letter-spacing: -0.5px;
    margin-right: 1.2rem;
    color: var(--clr-blk-500);

    &:hover {
      color: var(--clr-primary-500);
    }

    // @include respond(tablet-port) {
    //   color: var(--clr-white);
    // }
  }

  &__menu-title {
    flex: 1;
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    margin-left: 0.8rem;
  }
}
