#footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  @include respond(viewport-h) {
    position: relative;
    margin-top: 4.8rem;
  }

  @include respond(tablet-port) {
    text-align: center;
  }

  h3 {
    font-size: var(--fs-hd-600);
    font-weight: var(--fw-700);
    margin-bottom: 2.4rem;
    color: var(--clr-blk-600);
  }

  [class^='col-'] {
    margin-bottom: 3.2rem !important;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;

  &__section {
    padding: 6.4rem 0;
  }

  p {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: var(--clr-blk-500);
  }

  @include listStyles;

  &__list:last-of-type &__item {
    &:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__list {
    @include respond(tablet-port) {
      justify-content: center;
      margin-bottom: 2.4rem;
    }
  }

  &__main {
    flex-direction: column;

    & > * {
      margin-bottom: 1.6rem;
    }
  }

  &__content {
    @include respond(tablet-port) {
      text-align: center;
    }

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    p {
      max-width: 36.4rem;

      @include respond(tablet-port) {
        max-width: 100%;
      }
    }

    img {
      @include respond(tablet-port) {
        margin: 0 auto;
      }
    }

    @include respond(tablet-port) {
      text-align: center;
    }
  }
}
