.form {
  max-width: 48.2rem;
  margin: 0 auto;
  background-color: var(--clr-bg-50);
  border: 1px solid var(--clr-primary-50);
  border-radius: 0.8rem;
  padding: 2.4rem;

  & > * {
    margin-bottom: 2.4rem;
  }

  & > *:last-child {
    margin-top: 2.4rem;
    margin-bottom: 0;
  }
}
