.form {
  max-width: 48.2rem;
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(226, 100%, 94%);
  border-radius: 0.8rem;
  padding: 2.4rem;

  & > * {
    margin-bottom: 2.4rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
