.loading {
  display: block;
  border: 1px dotted #ffffff;
  border-image-source: 1;
  border-width: 0.4rem;
  border-top-color: #ffffff00;
  border-left-width: 0.5rem;
  border-bottom-width: 0.3rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: loadingspin 0.8s linear infinite;
}

.loader-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45%;
  right: 0;
  // bottom: 0;
  left: 0;
  // transform: translateY(-50%);

  // &__full {
  //   min-height: 80vh;
  // }

}

.three-d-spinner {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  perspective: 800px;
  position: relative;

  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:nth-child(1) {
      left: 0;
      top: 0;
      animation: rotate-one 1s linear infinite;
      border-bottom: 0.3rem solid var(--clr-primary-500);
    }

    &:nth-child(2) {
      right: 0;
      top: 0;
      animation: rotate-two 1s linear infinite;
      border-right: 0.3rem solid var(--clr-primary-500);
    }

    &:nth-child(3) {
      right: 0;
      bottom: 0;
      animation: rotate-three 1s linear infinite;
      border-top: 0.3rem solid var(--clr-primary-500);
    }

    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }
  }
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
