.navbar {
  background-color: var(--clr-blk-100);
  margin-bottom: 6.4rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
  }

  &__logo {
    max-width: 5.6rem;
  }

  @include listStyles;
}
