.services {
  position: relative;
  &__categories,
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 2.4rem;

    // @include respond(tablet-port) {
    //   grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    // }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap: 1.6rem;
    position: relative;

    & > .empty {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__listitem {
    display: flex;
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 0.8rem;

    & > *:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &__card {
    overflow: hidden;
    border-radius: 1.2rem;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 25.2rem;
    }

    span {
      position: absolute;
      font-size: var(--fs-hd-700);
      font-family: var(--fw-700);
      line-height: 3.2rem;
      color: var(--clr-white);
      left: 2.4rem;
      bottom: 2.4rem;
      z-index: 2;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 0%, 0.4);
      top: 0;
    }

    // &::after:hover {
    //   background-color: hsla(0, 0%, 0%, 0.104);
    // }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    h4 {
      color: var(--clr-blk-300);
    }
  }

  &__map-view {
    display: inline-block;
    background: transparent;
    color: var(--clr-blk-300);

    &::after {
      content: '';
      display: block;
      background-color: var(--clr-primary-500);
      width: 100%;
      height: 0.2rem;
      margin-top: 0.2rem;
    }
  }

  &__view {
    @include respond(mobile-xl) {
      overflow-x: scroll;
    }

    &-container {
      display: flex;
      max-height: 100vh;

      @include respond(mobile-xl) {
        width: 64rem;
      }
    }

    &-side {
      max-width: 42rem;
      padding: 0 2.4rem;
      padding-top: 2.4rem;
      flex-shrink: 0;

      @include respond(tablet-port) {
        max-width: 40rem;
      }
    }

    &-main {
      width: 100%;
      // height: 100%;
    }

    &-list {
      // & > *:not(:last-child) {
      //   margin-bottom: 2.4rem;
      // }

      @extend .inbox__chat-list;
    }

    // &-main {}

    &-map {
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

.service {
  &__provider {
    border-radius: 00.8rem;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
  }

  &__img {
    width: 100%;
    height: 21.6rem;
    object-fit: cover;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__details {
    padding: 2.4rem 1.2rem;
    display: grid;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    height: 50%;
    // flex-direction: column;
    // // justify-content: space-between;

    h2 {
      line-height: 2.4rem;
      max-width: 60%;

      @include respond(mobile-l) {
        max-width: 100%;
      }
    }
  }

  &__name {
    @include respond(mobile-l) {
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__flex,
  &__info {
    display: flex;
  }

  &__info {
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;

    img {
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      flex-shrink: 0;
      margin-right: 0.8rem;
      border-radius: 10rem;
    }
  }

  &__name {
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    color: var(--clr-blk-600);
    line-height: 1.6rem;
  }

  &__type {
    font-size: var(--fs-200);
    line-height: 1.6rem;
  }

  &__reviews {
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
    transition: all 0.2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__address {
    margin: 1.2rem 0;
    font-size: var(--fs-300);
  }

  &__desc {
    margin: 2.4rem 0;

    h3 {
      margin-bottom: 0.8rem;
    }
  }

  &__btn {
    // max-width: 32.7rem;
    width: 32.7rem;
    margin: 2.4rem 0 4.8rem;

    @include respond(tablet-port) {
      width: 100%;
    }
  }

  &__top-reviews {
    h4 {
      margin-bottom: 1.2rem;
    }
  }

  &__review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2.4rem;
  }

  &__review-card {
    border-radius: 0.8rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1.6rem;

    .service__flex {
      img {
        margin-right: 0.6rem;
      }
    }
  }

  &__review-text {
    font-size: var(--fs-200);
    line-height: 1.6rem;
    margin-top: 1.6rem;
  }

  &__see-more {
    margin: 2.4rem 0 4.8rem;

    a:link,
    a:visited {
      color: var(--clr-primary-500);
      text-decoration: underline;
      font-weight: var(--fw-700);
    }
  }

  &__map {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 100%;
    // width: 100%;
  }

  // &__address {
  // }
}

#service__map {
  width: 100%;
  height: 500px;
}
