@mixin authHeader {
  h2 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color: var(--clr-blk-500);
    margin-bottom: 0.8rem;
  }

  p {
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    color: var(--clr-blk-500);
  }
}

@mixin listStyles {
  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4.8rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
    color: var(--clr-blk-500);
  }

  &__link {
    &:hover,
    &:active {
      color: var(--clr-primary-500);
    }
  }
}

@mixin centerElemVertical($width) {
  max-width: $width;
  margin: 0 auto;
}

@mixin flex($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin section-spacing($size) {
  padding: $size 0;
}

@mixin respond($breakpoint) {
  /*************************************
  Media query breakpoint for really small 
  screen size below 320px
  ****/

  @if ($breakpoint == mobile-s) {
    @media screen and (max-width: 320px) {
      @content;
    }
  }

  @if ($breakpoint == mobile-m) {
    @media screen and (max-width: 375px) {
      @content;
    }
  }

  @if ($breakpoint == mobile-l) {
    @media screen and (max-width: 425px) {
      @content;
    }
  }

  @if ($breakpoint == tablet-port) {
    @media only screen and (max-width: 840px) {
      @content;
    }
  }

  @if ($breakpoint == tablet-land) {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }

  @if ($breakpoint == laptop-s) {
    @media only screen and (max-width: 1160px) {
      @content;
    }
  }

  @if ($breakpoint == laptop-l) {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }

  @if ($breakpoint == viewport-h) {
    @media only screen and (max-height: 940px) {
      @content;
    }
  }
}
