%display-heading {
  font-size: var(--fs-hd-900);
  line-height: 108%;
  letter-spacing: -1px;
  color: var(--clr-dark-800);

  @include respond(tablet-land) {
    font-size: 4.8rem;
  }

  @include respond(tablet-port) {
    font-size: var(--fs-hd-800);
  }

  @include respond(mobile-s) {
    font-size: var(--fs-hd-700);
  }
}

%heading-2 {
  font-size: var(--fs-hd-800);
  font-weight: var(--fw-500);
  line-height: 112%;
  color: var(--clr-blk-600);

  @include respond(tablet-port) {
    font-size: var(--fs-hd-700);
  }

  @include respond(mobile-s) {
    font-size: var(--fs-hd-600);
  }
}

%container {
  max-width: 112rem;
  margin: 0 auto;
}

%header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem 0;
}

%section-spacing {
  padding: 9.6rem 0;
}
