// .container {
//   max-width: ;
// }
.margin-btm-0 {
  margin-bottom: 0 !important;
}

.margin-btm-8 {
  margin-bottom: 0.8rem;
}

button.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
  padding: 0 !important;
  color: var(--clr-white) !important;
  border: none;
}

.MuiToggleButton-root {
  background: transparent;

  &:hover {
    color: hsl(0, 0%, 100%) !important;
  }
}

.css-ryrseu-MuiRating-root {
  font-size: 2.2rem !important;
  margin-right: 2.4rem;
}

.flex-dir-cl {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
