// .container {
//   max-width: ;
// }
.margin-btm-0 {
  margin-bottom: 0 !important;
}

.margin-btm-8 {
  margin-bottom: 0.8rem;
}

button.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
  padding: 0 !important;
  color: var(--clr-white) !important;
  border: none;
}

.MuiToggleButton-root {
  background: transparent;

  &:hover {
    color: hsl(0, 0%, 100%) !important;
  }
}

.css-ryrseu-MuiRating-root {
  font-size: 2.2rem !important;
  margin-right: 2.4rem;
}

.css-gac2fo-MuiChip-root {
  background: var(--clr-blk-200) !important;

  span {
    color: var(--clr-blk-700);
    font-size: var(--fs-300);
    font-family: inherit;
  }
}

.css-1z0bax7-MuiSvgIcon-root,
.css-1tzp3k3-MuiSvgIcon-root {
  display: none !important;

  @include respond(tablet-port) {
    display: block !important;
    cursor: pointer;
  }
}

.css-1tzp3k3-MuiSvgIcon-root {
  // color: var(--clr-white);
  position: absolute;
  top: 1.2rem;
  right: 1.6rem;
  // margin-top: -1.6rem;
  // margin-left: auto;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: var(--fs-400) !important;
}

.flex-dir-cl {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.hidden {
  @include respond(tablet-port) {
    display: none;
  }
}

.space-btw {
  justify-content: space-between;
}