:root {
  /********************************
  *********************************
    Color Variables
  */

  // Primary Colors
  --clr-primary-50: hsl(226, 100%, 94%);
  --clr-primary-100: hsl(224, 100%, 85%);
  --clr-primary-200: hsl(224, 100%, 77%);
  --clr-primary-300: hsl(224, 100%, 68%);
  --clr-primary-400: hsl(224, 100%, 60%);
  --clr-primary-500: hsl(224, 76%, 48%);
  --clr-primary-600: hsl(224, 100%, 47%);
  --clr-primary-700: hsl(224, 100%, 37%);
  --clr-primary-800: hsl(224, 100%, 27%);
  --clr-primary-900: hsl(225, 100%, 17%);

  // Black Colors
  --clr-blk-100: hsl(240, 13%, 94%);
  --clr-blk-200: hsl(240, 16%, 82%);
  --clr-blk-300: hsl(240, 15%, 70%);
  --clr-blk-400: hsl(240, 15%, 58%);
  --clr-blk-500: hsl(240, 15%, 47%);
  --clr-blk-600: hsl(240, 15%, 35%);
  --clr-blk-700: hsl(240, 16%, 23%);
  --clr-blk-800: hsl(240, 14%, 11%);
  --clr-blk-900: hsl(240, 15%, 5%);

  // Warning Colors
  --clr-warning-100: hsl(48, 96%, 89%);
  --clr-warning-500: hsl(38, 92%, 50%);

  // Neutral Colors
  --clr-white: hsl(227, 100%, 98%);
  --clr-dark: hsl(240, 43%, 4%);
  --clr-dark-800: hsl(0, 0%, 24%);

  // Background Colors
  --clr-bg-50: hsl(0, 0%, 98%);
  --clr-bg-100: hsl(0, 0%, 97%);
  --clr-bg-200: hsl(0, 0%, 96%);

  /********************************
  *********************************
    Font Size Variables
  */

  --fs-hd-900: 5.6rem;
  --fs-hd-800: 4rem;
  --fs-hd-700: 3.2rem;
  --fs-hd-600: 2.4rem;
  --fs-hd-500: 2rem;
  --fs-hd-400: 1.8rem;

  --fs-500: 2.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
  --fs-200: 1.2rem;
  --fs-100: 1rem;

  /********************************
  *********************************
    Font Weight Variables
  */

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /********************************
  *********************************
    Spacing Variables
  */
}
