.forgotpassword {
  @include authHeader;

  p {
    margin-bottom: 3.2rem;
  }

  &__btn {
    color: var(--clr-blk-500);
  }

  &__resend {
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
  }
}
