.hero {
  &__heading {
    font-size: var(--fs-hd-900);
    line-height: 108%;
    letter-spacing: -1px;
    text-align: center;
    @include centerElemVertical(88.6rem);
    margin-bottom: 2.4rem;
    color: var(--clr-dark-800);

    span {
      color: var(--clr-primary-500);
    }
  }

  &__description {
    font-size: var(--fs-hd-600);
    line-height: 3.2rem;
    letter-spacing: -0.6px;
    text-align: center;
    @include centerElemVertical(77.3rem);
    color: var(--clr-blk-500);
    margin-bottom: 5.6rem;
  }

  &__form {
    display: flex;
    @include centerElemVertical(88.6rem);
    background: var(--clr-white);
    box-shadow: 0px 12px 32px rgba(198, 198, 198, 0.15);
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 0;
    margin-bottom: 1.2rem;
  }

  &__search {
    font-size: var(--fs-600);
    font-family: inherit;
    color: var(--clr-blk-500);
    flex: 1;
    background: var(--clr-white);
    outline: none;
    border: none;
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 3.2rem;

    &::placeholder {
      color: var(--clr-blk-300);
    }
  }

  &__near-me {
    display: flex;
    align-items: center;
    background: none;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    @include centerElemVertical(fit-content);

    img {
      margin-right: 1.2rem;
    }

    span {
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
      color: var(--clr-primary-500);
    }
  }
}
