.hero {
  &__section {
    background-color: var(--clr-blk-100);
    padding: 9.6rem 0 0;

    @include respond(tablet-land) {
      padding: 7.2rem 0 0;
    }
  }

  &__heading {
    @extend %display-heading;
    @include centerElemVertical(88.6rem);
    text-align: center;
    margin-bottom: 2.4rem;

    span {
      color: var(--clr-primary-500);
    }
  }

  &__description {
    font-size: var(--fs-hd-600);
    line-height: 3.2rem;
    letter-spacing: -0.6px;
    text-align: center;
    @include centerElemVertical(77.3rem);
    color: var(--clr-blk-500);
    margin-bottom: 5.6rem;

    @include respond(tablet-land) {
      font-size: var(--fs-hd-500);
      margin-bottom: 4.8rem;
    }
  }

  &__form {
    display: flex;
    @include centerElemVertical(88.6rem);
    background: var(--clr-white);
    box-shadow: 0px 12px 32px rgba(198, 198, 198, 0.15);
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 0;
    margin-bottom: 1.2rem;
  }

  &__search {
    font-size: var(--fs-600);
    font-family: inherit;
    color: var(--clr-blk-500);
    flex: 1;
    background: var(--clr-white);
    outline: none;
    border: none;
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 3.2rem;

    &::placeholder {
      color: var(--clr-blk-300);
    }
  }

  &__near-me {
    display: flex;
    align-items: center;
    background: none;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    @include centerElemVertical(fit-content);

    img {
      margin-right: 1.2rem;
    }

    span {
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
      color: var(--clr-primary-500);
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 0 auto;

  &__section {
    @include section-spacing(8rem);
  }

  &__content {
    @include respond(tablet-port) {
      text-align: center;
    }

    h2 {
      @extend %heading-2;
      max-width: 23.3rem;
      margin-bottom: 1.6rem;

      @include respond(tablet-port) {
        max-width: 100%;
        margin: 0 auto 1.6rem;
      }
    }

    p {
      color: var(--clr-blk-500);
      max-width: 32rem;
      margin-bottom: 2.4rem;

      @include respond(tablet-port) {
        max-width: 59.5rem;
        margin: 0 auto 1.6rem;
        text-align: center;
      }
    }

    span {
      color: var(--clr-primary-500);
    }

    button {
      flex-direction: row;

      @include respond(tablet-port) {
        display: inline-flex;
      }

      span {
        font-size: var(--fs-400);
        font-weight: var(--fw-700);
        color: var(--clr-primary-500);
        margin-right: 0.8rem !important;
      }
    }
  }

  &__card {
    flex: 45%;
    padding: 5rem 2.4rem;
    border-radius: 0.8rem;
    margin-bottom: 7.2rem;

    &:nth-child(odd) {
      margin-right: 2.4rem;
    }

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    &--bg {
      background-color: var(--clr-primary-50);
    }

    h3 {
      font-size: var(--fs-hd-500);
      font-weight: var(--fw-500);
      color: var(--clr-primary-500);
    }

    p {
      color: var(--clr-blk-500);
    }
  }
}

.app-features {
  &__feature {
    @include flex(center);
    height: 100%;
  }

  &__feature-img {
    max-width: 53.6rem;
    margin: 0 auto;
  }

  &__feature-content {
    align-self: center;

    @include respond(tablet-port) {
      text-align: center;
    }

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    h2 {
      max-width: 37.1rem;
      @extend %heading-2;

      @include respond(tablet-port) {
        max-width: 55.1rem;
      }
    }

    p {
      max-width: 43rem;
      color: var(--clr-blk-500);

      @include respond(tablet-port) {
        max-width: 52rem;
      }
    }
  }

  &__feature-cta {
    display: flex;

    @include respond(tablet-port) {
      justify-content: center;
    }

    button {
      max-width: 15.6rem;
      display: inline-block;
      border: none;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}

.app-features-2 {
  &__section {
    padding: 16.4rem 0 9.6rem;
  }

  &__feature {
    @include flex(center, center);
    height: 100%;
  }

  &__caption {
    @extend %display-heading;
    max-width: 93.5rem;
    @include respond(tablet-port) {
      text-align: center;
    }
  }

  &__feature-content {
    @include respond(tablet-port) {
      text-align: center;
    }

    p {
      max-width: 37.8rem;
      color: var(--clr-blk-500);
      font-weight: var(--fw-400);

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      @include respond(tablet-port) {
        max-width: 60rem;
      }
    }
  }
}

.become-an-artisan {
  &__section {
    @include section-spacing(9.6rem);

    @include respond(tablet-port) {
      text-align: center;
    }
  }

  &__content {
    max-width: 49.7rem;
    margin: 0 auto;

    h2 {
      @extend %display-heading;
      margin-bottom: 0.8rem;
    }
  }

  &__cta {
    @include flex(center, center);
    height: 100%;
  }
}

.download {
  &__download {
    background-color: var(--clr-primary-500);
    border-radius: 2.4rem;

    & > * {
      @include flex(center, center);
    }

    @include respond(tablet-port) {
      padding: 2.4rem;
    }
  }

  &__cta {
    h2 {
      max-width: 47.3rem;
      @extend %heading-2;
      color: var(--clr-white);
      margin-bottom: 2.4rem;

      @include respond(tablet-port) {
        text-align: center;
      }
    }
  }

  &__btns {
    @extend .app-features__feature-cta;

    button {
      max-width: 15.6rem;
      display: inline-block;
      border: none;
      background: none;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }

  &__app-illustration {
    @include respond(tablet-port) {
      display: none;
    }
  }
}

.meet-artisans {
  &__section {
    padding: 4.8rem 0 0;
  }

  &__caption {
    @extend %heading-2;
    text-align: center;
    margin-bottom: 6.4rem;
  }

  &__slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  &__slider-img {
    flex-shrink: 0;
    width: calc((100% / 4) + (100% / 4 / 2));
    // width: 54.7rem;
    height: 32.7rem;

    @include respond(tablet-port) {
      width: calc((100% / 3) + (100% / 3 / 2));
      height: 28rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    position: absolute;
    cursor: pointer;
  }

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 4.8rem;
    border: none;
    background-color: var(--clr-white);
    box-shadow: 0 1.2rem 3.2rem 0 hsla(0, 0%, 77%, 0.15);

    @include respond(tablet-port) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__prev {
    left: 60px;

    @include respond(tablet-port) {
      left: 30px;
    }
  }

  &__next {
    right: 60px;

    @include respond(tablet-port) {
      right: 30px;
    }
  }
}
