.hero {
  &__section {
    background-color: var(--clr-blk-100);
    padding: 9.6rem 0 0;
  }

  &__heading {
    font-size: var(--fs-hd-900);
    line-height: 108%;
    letter-spacing: -1px;
    text-align: center;
    @include centerElemVertical(88.6rem);
    margin-bottom: 2.4rem;
    color: var(--clr-dark-800);

    span {
      color: var(--clr-primary-500);
    }
  }

  &__description {
    font-size: var(--fs-hd-600);
    line-height: 3.2rem;
    letter-spacing: -0.6px;
    text-align: center;
    @include centerElemVertical(77.3rem);
    color: var(--clr-blk-500);
    margin-bottom: 5.6rem;
  }

  &__form {
    display: flex;
    @include centerElemVertical(88.6rem);
    background: var(--clr-white);
    box-shadow: 0px 12px 32px rgba(198, 198, 198, 0.15);
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 0;
    margin-bottom: 1.2rem;
  }

  &__search {
    font-size: var(--fs-600);
    font-family: inherit;
    color: var(--clr-blk-500);
    flex: 1;
    background: var(--clr-white);
    outline: none;
    border: none;
    border-radius: 7.2rem;
    padding: 1.2rem 1.6rem 1.2rem 3.2rem;

    &::placeholder {
      color: var(--clr-blk-300);
    }
  }

  &__near-me {
    display: flex;
    align-items: center;
    background: none;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    @include centerElemVertical(fit-content);

    img {
      margin-right: 1.2rem;
    }

    span {
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
      color: var(--clr-primary-500);
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: 0 auto;

  &__section {
    padding: 8rem 0;
  }

  &__content {
    h2 {
      max-width: 23.3rem;
      font-size: var(--fs-hd-800);
      font-weight: var(--fw-500);
      line-height: 112%;
      color: var(--clr-blk-600);
      margin-bottom: 1.6rem;
    }

    p {
      color: var(--clr-blk-500);
      max-width: 32rem;
      margin-bottom: 2.4rem;
    }

    span {
      color: var(--clr-primary-500);
    }

    button span {
      font-size: var(--fs-400);
      font-weight: var(--fw-700);
      color: var(--clr-primary-500);
    }
  }

  &__card {
    flex: 45%;
    padding: 5rem 2.4rem;
    border-radius: 0.8rem;
    margin-bottom: 7.2rem;

    &:nth-child(odd) {
      margin-right: 2.4rem;
    }

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    &--bg {
      background-color: var(--clr-primary-50);
    }

    h3 {
      font-size: var(--fs-hd-500);
      font-weight: var(--fw-500);
      color: var(--clr-primary-500);
    }

    p {
      color: var(--clr-blk-500);
    }
  }
}

.app-features {
  &__feature {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__feature-img {
    max-width: 53.6rem;
    margin: 0 auto;
  }

  &__feature-content {
    align-self: center;

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    h2 {
      max-width: 37.1rem;
      font-size: var(--fs-hd-800);
      font-weight: var(--fw-500);
      line-height: 112%;
      color: var(--clr-blk-600);
    }

    p {
      max-width: 43rem;
      color: var(--clr-blk-500);
    }
  }

  &__feature-cta {
    display: flex;

    button {
      max-width: 15.6rem;
      display: inline-block;
      border: none;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}

.app-features-2 {
  &__section {
    padding: 16.4rem 0 9.6rem;
  }

  &__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__caption {
    font-size: var(--fs-hd-900);
    font-weight: var(--fw-700);
    line-height: 108%;
    color: var(--clr-blk-600);
    max-width: 93.5rem;
  }

  &__feature-content {
    p {
      max-width: 37.8rem;
      color: var(--clr-blk-500);
      font-weight: var(--fw-400);

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }
}
