.success {
  @include respond(tablet-port) {
    margin: 0 2.4rem;
  }

  @extend .form;
  @include authHeader;

  img {
    margin-left: -0.4rem;
  }

  &__link {
    font-weight: var(--fw-700);
    color: var(--clr-primary-500);
  }
}
