@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealBlack.ttf') format('ttf');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealExtraBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealBold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealMedium.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealBook.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url('../assets/fonts/AirbnbCerealLight.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}
