@import './fonts';
@import './abstract/mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;

  @include respond(tablet-port) {
    font-size: 9.5px;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Airbnb Cereal App';
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--clr-blk-500);
  background-color: hsl(0, 0%, 96%);
}

a,
a:link,
a:active {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.app {
  position: relative;
  min-height: 100vh;
}

.main {
  position: relative;
  min-height: 68vh;
}

.accent {
  color: var(--clr-primary-500);
}

@import './main';
