@import './fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Airbnb Cereal App';
  font-weight: 400;
  line-height: 2.4rem;
  background-color: hsl(0, 0%, 96%);
}

a,
a:link,
a:active {
  text-decoration: none;
}

@import './main';
