/****************************
****************************
Global Container
*/
.container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(laptop-s) {
    padding: 0 2.4rem;
  }

  @include respond(mobile-m) {
    padding: 0 1.2rem;
  }
}

[class^='col-'] {
  @include respond(tablet-port) {
    width: 100% !important;
  }
}

.col-1-of-2 {
  width: calc(100% / 2);
}

.col-1-of-3 {
  width: calc(100% / 3);
}

.col-2-of-3 {
  width: calc(100% / 3 * 2);
  // background-color: red;
}

.col-1-of-4 {
  width: calc(100% / 4);
}

.col-1-of-5 {
  width: calc(100% / 5);
}

.col-2-of-5 {
  width: calc(100% / 5 * 2);
}
/****************************
****************************
Flex Containers
*/

.flex {
  display: flex;

  @include respond(tablet-port) {
    flex-direction: column;
  }

  & > *:not(:last-child) {
    margin-right: 2.4rem;

    @include respond(tablet-port) {
      margin-right: 0;
      margin-bottom: 5.6rem;
    }

    @include respond(mobile-l) {
      margin-bottom: 4.8rem;
    }
  }
}
