/****************************
****************************
Global Container
*/
.container {
  max-width: 114rem;
  margin: 0 auto;
}

/****************************
****************************
Flex Containers
*/

.flex {
  display: flex;
}
